		<div class="topnav">
			EDI Monitoring app
			<input type="text" placeholder="Search..">
		  </div>
		<div class="navmenu">
			<div class="navitem">Главная</div>
			<div class="navitem">Отправленное</div>
			<div class="navitem">В обработке</div>
		</div>
		<div class="content">
			<table id="orders">
				<tr>
					<th>Имя файла</th>
					<th>Номер заказа</th>
					<th>Дата заказа</th>
					<th>Покупатель</th>
				</tr>
				<tr>
					<td id="flnm">ORDERS_fad13e74-c3ea-11ed-9cda-4ca7be8473e6.xml</td>
					<td>2000001435533_517</td>
					<td>2023-03-16</td>
					<td>ИП Сафин Р.Р.</td>
				</tr>
				<tr>
					<td id="flnm">ORDERS_f6b0927b-c3ea-11ed-b457-a6f6b5722f1c.xml</td>
					<td>2000001419229_265</td>
					<td>2023-03-16</td>
					<td>ИП Бисянова А.А.</td>
				</tr>
				<tr>
					<td id="flnm">ORDERS_da3275e7-c3ed-11ed-a2ca-9a62d479c248.xml</td>
					<td>2000001364277_344</td>
					<td>2023-03-16</td>
					<td>ИП Ибрагимов Ю.А.</td>
				</tr>
				<tr>
					<td id="flnm">ORDERS_7c75569b-c3f0-11ed-9fcf-604a3265fece.xml</td>
					<td>2000001381144_518</td>
					<td>2023-03-16</td>
					<td>ИП Пороткин В.В.</td>
				</tr>
			</table>
		</div>