/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.topnav {
    background-color: #eee9ee;
    color: rgb(100, 32, 66);
    width: auto;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding-left: 4%;
    border-bottom-style: solid;
    border-color: rgb(151, 142, 151);
    border-width: 1px;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.navmenu {
	--menu-width: 260px;
    height:200%;
    position:absolute;
    width: var(--menu-width); 
    z-index: 1; 
    top: auto; 
    left: 0;
    /*background-color: rgb(82, 3, 82); */
    background: linear-gradient(to bottom, rgb(82, 3, 82),rgb(192, 108, 192) ,rgb(255, 255, 255));
    overflow-x: hidden; 
    padding-top: 20px;
}

@media screen and (max-height: 450px) {
    .navmenu {padding-top: 15px;}
}

.content {
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-inline-start: 260px;
}

.navitem {
    color: rgb(243, 235, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-style: solid;
    border-color: rgb(212, 155, 212);
    border-width: 1px;
    text-align: center;
    margin-block-start: 10px;
    margin-inline-end: 15px;
    margin-inline-start: 10px;
    padding: 7px 7px;
    border-radius: 5px;
    background-color: rgba(63, 2, 63, 40%);
}

.navitem:hover {
    background-color: rgba(243, 195, 243, 0.4);
    color: rgb(46, 2, 46);
    font-weight: 600;
}
